version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: ts-project-nest-next-graphql-hasura
    ports:
      - 5432:5432
    volumes:
      - ./docker/postgres/init.d:/docker-entrypoint-initdb.d
      - ./docker/postgres/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: nori_user
      POSTGRES_PASSWORD: nori_pass
      POSTGRES_INITDB_ARGS: '--encoding=UTF-8'
      POSTGRES_DB: noridb
    hostname: ts-project-nest-next-graphql-hasura
    restart: always
    user: root